<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改权限</title>
</head>
<body>
    <form action="__SELF__" method="post">
    <input type="hidden" name="auth_id" value="{$current_auth.auth_id}">
<table width="453" border="1" align="center">
  <tr>
    <th colspan="2" valign="middle">修改权限</th>
  </tr>
  <tr>
    <td width="170">权限名称:</td>  
      <td><input name="auth_name" type="text" id="textfield3" value="{$current_auth.auth_name}"></td>
  </tr>
  <tr>
    <td valign="middle">选择父级:</td>
    <td> 
      <select name="auth_pid" id="select">
        <option value="">请选择父级:</option>
      <volist name='parent_auth' id='vo'>
            <if condition="$vo['auth_id'] eq $current_auth['auth_pid']">
                 <option value="{$vo.auth_id}" selected="selected">{$vo.auth_name}</option>
                <else/>
                 <option value="{$vo.auth_id}">{$vo.auth_name}</option>
            </if>
           
      </volist>
      </select>
     </td>
  </tr>
  <tr>
    <td>控制器名称:</td>
    <td> 
      <input name="auth_c" type="text" id="textfield2" value=" {$current_auth.auth_c}">
    </td>
  </tr>
  <tr>
    <td>方法名称:</td>
    <td> 
      <input name="auth_a" type="text" id="textfield3" value="{$current_auth.auth_a}">
     </td>
  </tr>
  <tr>
    <td colspan="2"> <input type="submit" name="button" id="button" value="提交"></td>
  </tr>
</table>

    </form>
</body>
</html>
